.user-section {
  text-align: center;
}
.user-section h2 {
  font-weight: 700;
}
.user-img {
  height: 93px;
  width: 93px;
  border: 1px solid #000;
  border-radius: 50%;
  object-fit: cover;
}
.user-details {
  padding: 0 30px;
  height: 45px;
}
.user-details p {
  margin-top: -10px;
  font-size: 14px;
}

.border-right {
  border-right: 1px solid #c6c6c6;
  width: 30%;
}
.files-doc p {
  color: #000;
  flex-shrink: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0rem 8.2rem 2.8rem 0rem;
  white-space: nowrap;
}
